.page-div {
	margin: 30px 40px;
}

.top-section {
	margin-top: 30px;
	margin-bottom: 30px;
}

.filter-label {
	margin: 0 5px;
}

.filter-cell {
	margin: 0 5px;
}

.filter-cell form {
	display: inline;
}

.filter-button {
	margin: 0 5px;
}

.list-section {
	margin-top: 30px;
	margin-bottom: 30px;
}

.list-section th {
	background-color: #e0e0e0;
	padding: 3px 5px;
	min-width: 150px;
}

.list-section td {
	padding: 3px 5px;
}
